<p>Hey {{ name }},</p>
<p>Please click below to confirm your email for this event {{event}}</p>
<p>
kindly reject or accept, {{name}} to join your event
</p>

<p>If you did not request this email you can safely ignore it.</p>
