<p>Hey {{ name }},</p>
<p>We received a request to reset the password for your account with {{app}}. To complete the password reset process, please click on the link below:</p>
<p>
    <a href="{{ url }}" style="padding: 10px; background: #3F79AD; color: #fff; text-align: center; text-decoration: none;">Reset Password</a>
</p>

<p>If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.</p>
